<div id='main'>
  <h1>Burgers!</h1>

  <div id='add'>
    <h2>Add a Burger</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
        <button type="submit">Add Burger</button>
      </div>
    </form>
  </div>

  <div id='eat'>
    <h2>Eat These Burgers!</h2>
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burger/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
  
  
  <div id='ate'>
    <h2>Ate These Burgers!</h2>
    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burger/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

</div>