body{
    background-image: url(../images/burgers_background.jpeg);
    font-family: 'Baloo Chettan', cursive;
}

#main {
    text-align: center;
}

#eat, #ate {
    display: inline-block;
    width: 40%;
}

#eat {
    text-align: left;
}

#ate {
    text-align: right;
}

li {
    list-style-type: none;
}